@import url('https://fonts.googleapis.com/css?family=Kanit');

#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }

  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }

  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  #mainNav .nav-link:active {
    color: white;
  }

  #mainNav.navbar-shrink {
    background-color: #fff;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }

  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }

  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }

  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }

  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/bg-masthead.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: 'Kanit', sans-serif !important;
  font-size: 5rem;
  line-height: 7.5rem;
  letter-spacing: 0.8rem;
  padding-bottom: 2rem;
  -webkit-background-clip: text;
}

.masthead h2 {
  font-family: 'Kanit', sans-serif !important;
  max-width: 80rem;
  font-size: 3rem;
}

.masthead h3 {
  font-family: 'Kanit', sans-serif !important;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4.5rem;
    line-height: 7.5rem;
    max-width: 25rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 60rem;
    padding: 0;
  }

  .masthead h1 {
    font-size: 8rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }

  .masthead h2 {
    font-size: 4rem;
    line-height: 6.5rem;
  }

  .masthead h3 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Kanit', sans-serif !important;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #64a19d;
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: #4f837f;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

body {
  font-family: 'Kanit', sans-serif !important;
  letter-spacing: 0.0625em;
  transition: background-color .4s;
}

canvas {
  display: block;
  float: left;
  margin-right: 2rem;
}

a {
  color: #64a19d;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #3c6360;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #64a19d !important;
}

.text-primary {
  color: #64a19d !important;
}

footer {
  padding: 5rem 0;
}

/* Start */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #F2EDD8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #000000b6;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #000;
  background-color: rgba(150, 192, 206);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main,
#mainNav {
  -moz-transition: margin-right .45s!important;
  -webkit-transition: margin-right .45s!important;
  -o-transition: margin-right .45s!important;
  -ms-transition: margin-right .45s!important;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.climate-button {
  border: none;
  display: inline block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 18px;
}

.climate-block {
  display: block;
  width: 100%;
}

.climate-left-align {
  text-align: left !important;
}

.climate-hide {
  display: none !important;
}

.climate-show-block,
.climate-show {
  display: block !important;
}

.sidenav-dropdown {
  color: #000 !important;
  background-color: #FEF6EB !important;
}

.sidenav-dropdown-open {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(194, 91, 86) !important;
}

.sidenav-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.search-box .input {
  width: 0px;
  height: 35px;
  border: 0px;
  outline: none;
  background: #e6e6e6;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 25px;
}

.search-box .input.active {
  width: 200px;
  padding: 0 10px;
}

.search-btn {
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.5);
}